#banner {
	margin: 0px auto;
	overflow: hidden;
	padding: 12px;
}
#banner img {
	margin: -160% 0 0 48%;
	opacity: 0.3;
	position: relative;
	z-index: 0;
}
#banner h1 {
	font-size: 72px;
	margin-top: 96px;
	max-width: 360px;
	position: relative;
	z-index: 1;
}
#banner p {
	color: #ffffff99;
	font-size: 24px;
	position: relative;
	z-index: 1;
}
#awards {
	text-align: right;
	padding: 0px 48px;
}
#awards .award {
	font-size: 30px;
	font-weight: 900;
	margin: 120px 0px 120px auto;
	width: 84%;
}
#awards .underline {
	background-color: #fafafa00;
	height: 12px;
	width: 0%;
}
#awards .underline.animate {
	background-color: #fafafaff;
	width: 100%;
}
#awards .title {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}
#enabler {
	height: 84%;
	padding: 12px;
	text-align: center;
}
#enabler h2 {
	font-size: 39px;
}
#enabler h2 small {
	font-size: 15px;
}

#bhub {
	background: url(/images/bhub.png) center/cover;
	padding: 24px;
}

#bhub .wrap {
	background-color: #212121bb;
	margin: 0px auto;
	max-width: 480px;
	padding: 24px;
}

#bhub h2 {
	font-size: 48px;
	line-height: 24px;
}

#bhub h2 small {
	font-size: 12px;
}

#bhub p {
	line-height: 180%;
}

#mission {
	font-size: 24px;
	min-height: 84%;
	padding: 24px;
	text-align: center;
}

#mission p {
	text-align: justify;
}

#mission .field {
	display: inline-block;
	margin: 12px 48px;
	text-align: center;
}

#mission .field img {
	height: 72px;
}

#mission .field p {
	text-align: center;
}

#startups {
	text-align: center;
}

#startups .startup {
	background-color: #fff;
	display: inline-flex;
	flex-direction: column;
	height: 300px;
	justify-content: flex-end;
	margin: 12px;
	max-width: 300px;
	text-align: left;
	vertical-align: middle;
	width: 100%;
}
#startups .startup p {
	background-color: #212121;
	display: inline-block;
	margin: 0px;
	padding: 12px 24px;
}

#startups .startup#title {
	justify-content: center;
}

#startups .startup#title p {
	background-color: #fff;
	color: #212121;
	font-size: 48px;
}

@media only screen and (min-width: 600px) {
	#banner {
		width: 84%;
	}
	#banner img {
		opacity: 0.3;
		position: relative;
		z-index: 0;
	}
	#banner h1 {
		margin-top: 120px;
	}
	#awards {
		text-align: center;
	}
	#awards .award {
		display: inline-block;
		margin: 24px 48px;
		max-width: 240px;
	}
}
@media only screen and (min-width: 1200px) {
	#bhub {
		height: 108vmin;
		width: 108vmin;
	}
	#bhub .wrap {
		background-color: #212121;
		margin: 0px;
		max-width: none;
		padding: 48px;
		transform: translate(60%, 12%);
	}
	#bhub h2 {
		font-size: 72px;
		line-height: 36px;
	}
	#bhub h2 small {
		font-size: 18px;
	}
}
