#bannerIEDC {
	align-items: center;
	display: flex;
	font-size: 42px;
	justify-content: flex-start;
	height: 72%;
	padding: 0px 24px;
	text-align: left;
}

#about {
	font-size: 24px;
	line-height: 36px;
	margin: 24px auto;
	max-width: 840px;
	padding: 24px;
	text-align: left;
}

#about h2 {
	margin-top: 120px;
}

#about .underline {
	background-color: #fafafa00;
	height: 12px;
	margin: 0px;
	width: 0px;
}

#about .underline.animate {
	background-color: #fafafaff;
	width: 240px;
}

#achievements {
	padding: 24px;
	text-align: center;
}

#achievements h2 {
	font-size: 48px;
	text-align: left;
}

#achievements h3 {
	font-size: 30px;
	margin: 0px;
}

#achievements p {
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
}

#achievements .underline {
	background-color: #fafafa00;
	height: 12px;
	margin: 0px 0px 60px 0px;
	width: 0px;
}

#achievements .underline.animate {
	background-color: #fafafaff;
	width: 240px;
}

#achievements .card {
	box-shadow: black 0px 3px 6px 0px;
	display: inline-block;
	margin: 12px;
	max-width: 300px;
	text-align: left;
	vertical-align: top;
}

#achievements .card-content {
	padding: 18px;
}

#achievements .card-date {
	color: #fafafa99;
}

@media only screen and (min-width: 600px) {
	#bannerIEDC {
		font-size: 60px;
		justify-content: center;
		text-align: center;
	}

	#about {
		text-align: center;
	}

	#about .underline {
		margin: 0px auto;
	}

	#achievements .underline {
		margin: 0px auto 60px auto;
	}

	#achievements h2 {
		text-align: center;
	}
}
