footer {
	color: #ffffffaa;
	margin: 120px 24px 60px 24px;
}

footer div {
	display: inline-block;
	margin: 24px;
	vertical-align: top;
}

footer ul {
	margin: 0px;
	padding: 0px;
}

footer ul li {
	margin: 9px 0px;
	list-style: none;
}

footer p {
	margin: 24px 0px 0px 0px;
}

footer #credits {
	color: #ffffff55;
	font-size: 12px;
}
