.bar {
	background-color: #dedede;
	border-radius: 3px;
	height: 6px;
	margin: 6px;
	transition-duration: 0.5s;
	width: 36px;
}

#drawer {
	align-items: center;
	background-color: #212121;
	display: flex;
	height: 100%;
	justify-content: center;
	opacity: 0;
	text-align: center;
	transition-duration: 0.5s;
	position: fixed;
	width: 100%;
	z-index: -1;
}

#drawer.close {
	opacity: 1;
	z-index: 9999;
}

#drawer ul {
	margin: 0px;
	padding: 0px;
}

#drawer ul li {
	font-size: 36px;
	list-style: none;
	margin: 24px 12px;
}

#menu-btn {
	background-color: #212121dd;
	border-radius: 3px;
	left: 0;
	margin: 18px 6px;
	padding: 6px;
	position: fixed;
	top: 0;
	z-index: 10000;
}

#menu-btn.close #bar1 {
	transform: translateY(12px) rotateZ(-45deg);
}

#menu-btn.close #bar2 {
	opacity: 0;
}

#menu-btn.close #bar3 {
	transform: translateY(-12px) rotateZ(45deg);
}
