body,
html,
#root {
	background: #212121;
	color: #fafafa;
	cursor: default;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	height: 100%;
	margin: 0px;
	width: 100%;
}
a {
	color: inherit;
	text-decoration: inherit;
}
.anim {
	transition-duration: 2s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.animAppear {
	opacity: 0;
	transform: translateY(48px);
}
.animAppear.animate {
	opacity: 1;
	transform: translateY(0px);
}
.animFade {
	opacity: 0;
	transition-duration: 6s;
}
.animFade.animate {
	opacity: 1;
}
.blue {
	color: #81d4fa;
}
.green {
	color: #a5d6a7;
}
.centerizer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
